<div class="row justify-content-center">
	<div class="col-sm-6 pt-2">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title"> <%= @city.name%></h5>
				<p class="card-text">Liste des potins de la ville :</p>
				<% u = @user.where(city: @city.id)%>
				<% u.each do |t|%>
				 	<p class="card-text">Auteur : <%=t.first_name%></p>
				 	<% g = @gossip.where(user: t.id)%>
				 	<% g.each do |t| %>
					 	<p class="card-text"><%= t.content%></p>
					<% end %>
				<%end%>
			</div>
		</div>
	</div>
</div>
